{% extends "layout.html" %}

{% block style %}
    <style>
        .titles {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 2rem;
        }
        #div_details {
            margin: auto;
            display: block;
            text-align: center;
            width: 40%;
        }
        ul li {
            overflow: hidden;
        }
        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block title %}
    Flight
{% endblock %}

{% block body %}
    <div id="div_details">
        <h1 class="titles">Flight Details</h1>
        <div>
            <p>Origin: <i>{{ flight.origin }}</i></p>
            <p>Destination: <i>{{ flight.destination }}</i></p>
            <p>Duration: <i>{{ flight.duration }} minutes</i></p>
            <!-- <ul>
                <li>Origin: {{ flight.origin }}</li>
                <li>Destination: {{ flight.destination }}</li>
                <li>Duration: {{ flight.duration }} minutes</li>
            </ul> -->
        </div>

        <h2 class="titles">Passengers</h2>
        <div>
            {% for passenger in passengers %}
                <p><i>{{ passenger.name }}</i></p>
            {% else %}
                <p>No passengers</p>
            {% endfor %}
            <!-- <ul>
                {% for passenger in passengers %}
                    <li>{{ passenger.name }}</li>
                {% else %}
                    <li>No passengers</li>
                {% endfor %}
            </ul> -->
        </div>
    
        <form action="{{ url_for('loadDataFlight') }}" method="post">
            <input name="id" type="hidden" value="{{flight.id}}">
            <button class="btn btn-warning">Update flight</button>
        </form>
    </div>
{% endblock %}
